html{
  background-color: #FEC8D8;
  height: 100%;
}

#header, #header a {
  font-size: 25pt;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
} 
#header li{
  display: inline
}
#header a{
  padding: 4px;
  background-color: #d35f5f;
}

#NYC_selfie img {
  height: 100%;
  padding:5px ;
  position: relative;
}

.pics_box h1 {
  color: #fff;  
  margin: 0;
  text-align: center;
  transform: translateY(-1220%);
}

.pics_box_caption{
  color: #d35f5f;
  border: 2px solid #fff;
  width: 314px;
}

.pics_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: 400px;
  border: 3px solid #fff;
  padding-bottom: 10px;
}
#gallery1, #gallery2{
  width: 20%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
#gallery1 img, #gallery2 img{
  width: 100%;
}
#gallery1 div, #gallery2 div{
  width: fit-content;
  border-color: #fff;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#gallery1{
  left: 27.5%
}
#gallery2{
  left: 52.5%
}

#more_imgs{
  height:800px;
}

#more_imgs img{
  height:40%;
  display: inline-block;
  margin: 60px;
}

#home {
  font-family: 'Rampart One';
  color: white;
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}

#gojo {
  color: #cf21a4;
}